<body>
    <div class="container mt-5">
        <div class="row col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Voce Aluga - Cadastro</h1>
                </div>

                <div class="card-body">
                    <div style="display: none" id="error-message" class="alert alert-danger mt-2"></div>
                    <div th:if="${param.error}" class="alert alert-danger mt-2">Ocorreu um erro ao cadastrar o cliente.</div>
                    <div th:if="${param.success}" class="alert alert-info mt-2">Cadastro concluído.</div>


                    <form role="form" th:action="@{/cadastrar}" method='POST' th:object="${cliente}" onsubmit="return handleSubmitRequest();">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input
                                        required
                                        id="nome"
                                        class="form-control"
                                        type='text'
                                        name='nome'
                            />
                        </div>

                        <div class="form-group">
                            <label for="select-user-type">Tipo de usuário</label>
                            <select th:field="*{permissaoId}" id="select-user-type" class="form-select mt-2 mb-2" aria-label="Default select example">
                                <option value="0">Selecione o tipo de usuário</option>
                                <option th:each="permissao : ${permissoes}" th:value="${permissao.id}" th:text="${permissao.nome}" />
                            </select>
                        </div>

                        <div class="form-group">
                            <select th:field="*{clienteType}" onchange="handleSelectedClientType()" id="client-select" class="form-select" aria-label="Default select example">
                                <option value="0" selected>Selecione o tipo de cliente</option>
                                <option value="1">Pessoa Física</option>
                                <option value="2">Pessoa Jurídica</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select id="funcionario-select" class="form-select" aria-label="Default select example">
                                <option value="0">Selecione o tipo de funcionário</option>
                                <option value="1">Mecanico</option>
                                <option value="2">Gerente</option>
                            </select>
                        </div>

                        <div class="form-group cpf-form-div">
                            <label for="cpf" class="col-sm-4 cpf-form-div">CPF</label>
                            <input
                                        id="cpf"
                                        class="form-control cpf-form-div"
                                        type='text'
                                        name='cpf'
                                        th:field="*{cpf}"
                            />
                            <p th:errors="*{cpf}" class="text-danger"
                               th:if="${#fields.hasErrors('cpf')}">
                            </p>
                        </div>

                        <div class="form-group cnpj-form-div" >
                            <label  for="cnpj" class="col-sm-4 cnpj-form-div">CNPJ</label>
                            <input
                                        id="cnpj"
                                        class="form-control cnpj-form-div"
                                        type='text'
                                        name='cnpj'
                                        th:field="*{cnpj}"
                            />
                            <p th:errors="*{cnpj}" class="text-danger"
                               th:if="${#fields.hasErrors('cnpj')}">
                            </p>
                        </div>

                        <div class="form-group">
                            <label for="contato" class="col-sm-4">Telefone</label>
                            <input
                                        required
                                        id="contato"
                                        class="form-control"
                                        type='text'
                                        name='contato' th:field="*{contato}"
                            />
                        </div>

                        <div class="form-group">
                            <label for="cnh">CNH</label>
                            <input
                                        required
                                        id="cnh"
                                        class="form-control"
                                        type='text'
                                        name='cnh'
                                        th:field="*{cnh}"
                            />
                        </div>

                        <div class="form-group">
                            <label for="idade">Idade</label>
                            <input
                                        required
                                        id="idade"
                                        class="form-control"
                                        type='number'
                                        name='idade'
                                        th:field="*{idade}"
                            />
                        </div>

                        <div class="form-group">
                            <label for="senha" class="col-sm-4">Senha</label>
                            <input
                                        required
                                        id="senha"
                                        class="form-control"
                                        type='password'
                                        name='senha'
                                        th:field="*{senha}"
                            />
                        </div>

                        <div class="form-group">
                            <button id="register-button" class="btn btn-primary mt-3" name="submit" type="submit">Cadastrar</button>
                            <button class="btn btn-black"><a th:href="@{/login}">Já tem uma conta?</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    ```